<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link href= "/assets/homestyle.css" rel="stylesheet" type="text/css" />    
	<title>Order Confirmation</title>
</head>

<body>
	<div class="cardDisplay">
		<%- eCard %>
        <%- apiImage %>
	</div>
</body>

</html>