<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage with Tabs</title>
    <link href= "/assets/homestyle.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>

    <table>
        
        <tr>
            <th><img src="/Applications/FinalProject335/templates/images/logo.png" id="logo" alt="logo"></th>
            <th> <a href="/">Home</a></th>
            <th><a href="/form.ejs">E-Card Maker</a></th>
        </tr>
    </table>

  
        <h1 id="bighead">Welcome to E-Card Generator!</h1>


        <div class="tabs">

            <h2>The one-stop shop to making the perfect card for that special occasion!</h2>
        </div>

        <img src="/Applications/FinalProject335/templates/images/wrapping1-1400x934.jpeg" alt="Let your deepest feelings show to that special person!" id="mainimg">

    

</body>

</html>
